@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    
    #hamburger-nav{
        display:flex;
    }

    /*--- LUR page */

    .poster_and_contents{
        flex-direction: column;
    }

    .poster_and_contents img{
        order: 2;
    }

    .poster_and_contents .LUR_head_content{
        order: 1;
    }
    
    .ending_images_and_logos{
        flex-direction: column;
    }

    .LUR_main_content{
        padding: 2rem;
    }

    /*--- honors page */

    .honors_project_main{
        flex-direction: column-reverse;
    }
    
    .honors_project_main p{
        padding: 2rem;
    }

    .honors_project_imgs img{
        padding: 0;
        padding-bottom: 2rem;
    }

    .fallout_packers_main{
        flex-direction: column-reverse;
    }
}

@media (max-width: 1150px) {
    .projects {
        grid-template-columns: repeat(2, 1fr); /* 1 column on narrow screens */
    }

    /*.project-card img {*/
    /*    height: clamp(12rem, 40vw, 20rem);*/
    /*}*/

    .project-card h2 {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
    }
}

@media (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr; /* 1 column on narrow screens */
    }

    /*.project-card img {*/
    /*    height: clamp(1.5rem, 50vw, 50rem);*/
    /*}*/

    .project-card h2 {
        font-size: clamp(0.5rem, 6vw, 1.5rem);
    }

    #cover-statement{
        padding: 1rem;
    }
}