@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    
    #hamburger-nav{
        display:flex;
    }

    /*--- LUR page */

    .poster_and_contents{
        flex-direction: column;
    }

    .poster_and_contents img{
        order: 2;
    }

    .poster_and_contents .LUR_content{
        order: 1;
    }
    
    .ending_images_and_logos{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: repeat(2, 1fr); /* 1 column on narrow screens */
    }

    .project-card img {
        height: clamp(1.5rem, 30vw, 50rem);
    }

    .project-card h2 {
        font-size: clamp(0.5rem, 4vw, 1.5rem);
    }
}

@media (max-width: 440px) {
    .projects {
        grid-template-columns: 1fr; /* 1 column on narrow screens */
    }

    .project-card img {
        height: clamp(1.5rem, 50vw, 50rem);
    }

    .project-card h2 {
        font-size: clamp(0.5rem, 6vw, 1.5rem);
    }

    #cover-statement{
        padding: 1rem;
    }
}