/*gerenal*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Trocchi&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: white;
    --accent-color: rgb(231, 137, 45);
    --background-color: rgb(59, 62, 66);
    --font-size-nav: 1.5rem;
    --font-weight-nav: 300;
    --font-size-nav-hovered: 1.7rem;
    --font-weight-nav-hovered: 600;
}

/*.jetbrains-mono-regular {*/
/*    font-family: "JetBrains Mono", monospace;*/
/*    font-optical-sizing: auto;*/
/*    font-weight: var(--font-weight-nav);*/
/*    font-style: normal;*/
/*}*/

/*.trocchi-regular {*/
/*    font-family: "Trocchi", serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: var(--font-weight-nav);
    font-style: normal;

    background-color: var(--background-color);
    color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

p {
    color: var(--text-color);
}

/* transition */

a,
.btn {
    display: inline-block;
    transition: all 300ms ease;
}

#desktop-nav, #hamburger-nav{
    height: clamp(80px, 20vw, 150px);
}

/* desktop nav */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: var(--font-size-nav);
}

a {
    color: var(--text-color);
    text-decoration: none;
    /*text-decoration: underline;*/
    /*text-decoration-color: white;*/
}

#site-header a:hover, 
#site-header a:active {
    color: var(--accent-color);
    /*font-size: var(--font-size-nav-hovered);*/
    transform: scale(1.2);
    transform-origin: center center;
    font-weight: var(--font-weight-nav-hovered);

    /*text-decoration: underline;*/
    /*text-underline-offset: 1rem;*/
}

.logo {
    font-family: "Trocchi", serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    color: var(--accent-color);
}

/* hamburger manu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 300ms ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

/* body */

#cover-statement{
    padding-top:clamp(0rem, 7vw, 2rem);
    padding-bottom:0rem;
    padding-left:clamp(0rem, 10vw, 20rem);
    padding-right:clamp(0rem, 10vw, 20rem);
    /*padding-left:4rem;*/
    /*padding-right:4rem;*/
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.socials_links{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

.socials_links img{
    width: 100%;
    max-height: 5rem;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.project-card img {
    display: block;
    height: clamp(13rem, 15vw, 50rem);
    margin: 0 auto;
    border-radius: 0.5rem;
    
}

.project-card h2 {
    margin-top: 0.5rem;
    /*font-size: clamp(0.5rem, 15vw, 1.5rem);*/
    font-size: 1.5rem;
    text-align: center;
}

/*--- LUR Page---*/

.poster_and_contents{
    display: flex;
    align-items: center;
    gap: 1rem;

    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    justify-content: center;
}

.poster_and_contents img{
    order: 1;
    max-width: 100%;
    height: auto;
    display: block;
}

.poster_and_contents .LUR_content{
    order: 2;
    padding: 2rem;
    
}

.poster_and_contents p{
    font-size: clamp(0.85rem, 2vw, 1rem);
}

.LUR_trailer{
    padding: 2rem;
    display: block;
    width: 80%;
    max-width: 800px; 
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.external_link_img{
    display: block;
    width: 50%;
    min-width: 10rem;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem;
}

.wiggle_img{
    transition: transform 0.3s ease;
    /*transform: rotate(0deg) scale(1);*/
}

.wiggle_img:hover {
    animation: wiggle 1.2s infinite ease-in-out;
    
    /*animation: wiggle 0.6s infinite ease-in-out;*/
}

@keyframes "pulse" {
    0%   { transform: scale(1); }
    50%  { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes wiggle {
    0%   { transform: rotate(5deg); }
    25%  { transform: rotate(-5deg); }
    50%  { transform: rotate(5deg); }
    75%  { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

.ending_images_and_logos{
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    display: flex;
    align-items: center;
    gap: 1rem;

    justify-content: center;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
}

.screenshot_panels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    max-width: 220rem;
    min-width: 20rem;
    padding: 2rem;
    height: auto;
    margin: 0 auto;
    order: 1;
}

.screenshot_panels img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screenshot_panels .top_screenshot_panel{
    grid-column: span 2;
}

.logos{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    height: auto;
    width: auto;
    padding: 2rem;
    grid-gap: 1rem;
    order: 2;
}

.logos img{
    display: block;
    margin: 0 auto;
    max-width: 25rem;
    max-height: 10rem;
    object-fit: contain;
}

/*---- tools page ----*/

.tools_description{
    width: 60rem;
    margin: 0 auto;
}

.tools_video{
    padding: 2rem;
    display: block;
    width: 80%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.tools-pdf-wrapper{
    display: flex;
    padding: 0.5rem;
    max-width: 100vh;
    /*justify-content: center;*/
    margin: 0 auto;

}